<a href="https://colab.research.google.com/github/devika1910/AIML_Bootcamp/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Implement the methods of String with examples

In [ ]:
st="welcome to AI&ML bootcamp"
print(st.upper())
print(st.lower())
print(st.swapcase())
print(st.title())
print(st.capitalize())
statement="   step for your goal   "
print(statement.strip())
print(statement.lstrip())
print(statement.rstrip())

WELCOME TO AI&ML BOOTCAMP
welcome to ai&ml bootcamp
WELCOME TO ai&ml BOOTCAMP
Welcome To Ai&Ml Bootcamp
Welcome to ai&ml bootcamp
step for your goal
step for your goal
   step for your goal

2.Implement the methods of List with examples.

In [ ]:
list=["Devika","Sharanya","harini","pranay"]
list.append("akhila")
print(list)

['Devika', 'Sharanya', 'harini', 'pranay', 'akhila']

In [ ]:
list.extend(["team","mates","for","AI&ML","bootcamp"])
print(list)

['Devika', 'Sharanya', 'harini', 'pranay', 'akhila', 'team', 'mates', 'for', 'AI&ML', 'bootcamp']

In [ ]:
list.insert(0,"we are")
print(list)

['we are', 'Devika', 'Sharanya', 'harini', 'pranay', 'akhila', 'team', 'mates', 'for', 'AI&ML', 'bootcamp']

In [ ]:
del list[0]
print(list)

['Devika', 'Sharanya', 'harini', 'pranay', 'akhila', 'team', 'mates', 'for', 'AI&ML', 'bootcamp']

In [ ]:
del list[6:8]
print(list)

['Devika', 'Sharanya', 'harini', 'pranay', 'akhila', 'team', 'AI&ML', 'bootcamp']

In [ ]:
list.remove("Devika")
print(list)

['Sharanya', 'harini', 'pranay', 'akhila', 'team', 'AI&ML', 'bootcamp']

In [ ]:
list.pop(0)
print(list)

['harini', 'pranay', 'akhila', 'team', 'AI&ML', 'bootcamp']

In [ ]:

print(list.count("AI&ML"))

1

In [ ]:
print(len(list))

6

In [ ]:
list.sort()
print(list)

['AI&ML', 'akhila', 'bootcamp', 'harini', 'pranay', 'team']

In [ ]:
list.reverse()
print(list)

['team', 'pranay', 'harini', 'bootcamp', 'akhila', 'AI&ML']

In [ ]:
print(list[::-1])

['AI&ML', 'akhila', 'bootcamp', 'harini', 'pranay', 'team']

In [ ]:
list.clear()
print(list)

[]

3. Implement the methods of Tuple with examples.

In [ ]:
day1=("python",13.7,100,5,9,100,100)
print(day1.count(100))
print(day1.index(5))

3
3

In [ ]:
day2=(1,8,9,600,8)
print(max(day2))
print(min(day2))
print(len(day2))

600
1
5

4. Implement the methods of Dictionary with examples.

In [ ]:
data={'name':'devika','branch':'cse','hallno':'2108','year':'3'} #static declaration
print(data['name'])
print(data.keys())
print(data.values())
print(data.get('name'))

devika
dict_keys(['name', 'branch', 'hallno', 'year'])
dict_values(['devika', 'cse', '2108', '3'])
devika

5. Implement the methods of Set with examples.

In [ ]:
set={"ssd",250,600,2040}
set.add(2)
print(set)

{2, 600, 'ssd', 2040, 250}

In [ ]:
set.update([250,600,1080])
print(set)

{2, 1080, 600, 'ssd', 2040, 250}

In [ ]:
set.discard("ssd")
print(set)

{2, 1080, 600, 2040, 250}

In [ ]:
set.remove(1080)
print(set)

{2, 600, 2040, 250}

In [ ]:
set2={999,111,222,888}
print(set.union(set2))

{2, 2040, 999, 111, 888, 600, 250, 222}

In [ ]:
print(set|set2)

{2, 2040, 999, 111, 888, 600, 250, 222}

intersection

In [ ]:
print(set&set2)

set()

In [ ]:
print(set.intersection(set2))

set()

In [ ]:
print(set2.intersection(set))

set()

difference

In [ ]:
print(set-set2)

{600, 250, 2, 2040}

In [ ]:
print(set.difference(set2))

{600, 250, 2, 2040}

In [ ]:
print(set2.difference(set))

{888, 999, 222, 111}

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with
direct method.

In [ ]:
dec = int(input("Enter an integer: "))
print("The decimal value of is :", dec)
print("decimal to binary:",bin(dec))

Enter an integer: 10
The decimal value of is : 10
decimal to binary: 0b1010

In [ ]:
print("decimal to  octal:",oct(dec))

print("decimal to hexadecimal:",hex(dec),)

decimal to  octal: 0o12
decimal to hexadecimal: 0xa

7. Implement Arithmetic operators with examples.

In [ ]:
marks1 = int(input("Enter of marks1: "))
marks2 = int(input("Enter of marks2: "))
print(marks1+marks2)
print(marks1-marks2)
print(marks1*marks2)
print(marks1/marks2)
print(marks1//marks2)
print(marks1%marks2)
print(marks1**marks2)

Enter of marks1: 5
Enter of marks2: 5
10
0
25
1.0
1
0
3125

8. Implement Assignment operators with examples.

In [ ]:
marks1 = int(input("Enter of marks1: "))
marks2 = int(input("Enter of marks2: "))
total=marks1+marks2
print(total)
total+=marks1
print(total)
total-=marks1
print(total)
total*=marks1
print(total)
total/=marks1
print(total)
total%=marks1
print(total)
total**=marks1
print(total)

Enter of marks1: 2
Enter of marks2: 2
4
6
4
8
4.0
0.0
0.0

9. Implement Comparison operators with examples.

In [1]:
age1 = int(input("Enter of age1: "))
age2 = int(input("Enter of age2: "))
print(age1==age2)

Enter of age1: 5
Enter of age2: 5
True

In [2]:
print(age1!=age2)

False

In [3]:
print(age1>age2)
print(age1<age2)
print(age1>=age2)
print(age1<=age2)

False
False
True
True

10. Implement Logical operators with examples

In [5]:

test1=True
test2=False
print("test1 and test2 is",test1 and test2)
print("test1 or test2 is",test1 or test2)
print("test1 not is",not test1)

test1 and test2 is False
test1 or test2 is True
test1 not is False

11. Implement Bitwise operators with examples

In [9]:
cost1=12
cost2=7
print(cost1&cost2)
print(cost1^cost2)
print(cost1|cost2)
print(~cost1)
print(cost1>>2)
print(cost1<<4)

4
11
15
-13
3
192

12. Implement Membership operators with examples.

In [19]:
st1="python language"
st2={6:'name',11:'b'}
print(st1)
print('l' in st1)
print(st2)
print(6 in st2)
print(11 in st2)

python language
True
{6: 'name', 11: 'b'}
True
True

13. Implement Identity operators with examples

In [21]:
data1=33
st1=33
data2="priority"
st2="priority"
data3=[111,222,333]
st3=[111,222,333]
print(data1 is not st1)
print(data1 is  st1)
print(data2 is st2)
print(data2 is not st2)
print(data3 is st3)
print(data3 is not st3)

False
True
True
False
False
True

14. Demonstrate Negative indexing for List and apply slicing.

negative indexing

In [46]:
places=['warangal','hyderabad','karimnagar','hanamkonda']
print(places[::-1])
print(places[-1])
print(places[-2])
print(places[-3])
country=['india','USA','UK','Japan']
print("indexing")
print(country[1])
print(" negative indexing")
print(country[-1])
print(country[-2])
print(country[2])

['hanamkonda', 'karimnagar', 'hyderabad', 'warangal']
hanamkonda
karimnagar
hyderabad
indexing
USA
 negative indexing
Japan
UK
UK

slicing

In [44]:
print(places[0:4:1]) 
print(places[0:4:2])
print(places[0:4:3]) 
print(places[0:4:4]) 
print(places[-1::]) 
print(places[-5:-1:])

['warangal', 'hyderabad', 'karimnagar', 'hanamkonda']
['warangal', 'karimnagar']
['warangal', 'hanamkonda']
['warangal']
['hanamkonda']
['warangal', 'hyderabad', 'karimnagar']

15. Predict the output for the given code snippet and justify the result.

In [47]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("----------")
print('Welcome to python training program'[3:10][::-1])
#Given print statement [::-1] reverse the whole string
#Given print statement [::-1] reverse the whole string
#[3:10] slicing operator starts from 3rd index and stops at 10th index and the it will reverse the string.

taawkcbe  tgestrcoeeA
----------
ot emoc

16. Write a python code to get desired output

In [83]:
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[:3:]+" "+str[4:5:]+" "+str[5:6:]+str[7:8:]+str[9:10:]+" "+str[10:11:]+" "+str[11:12:]+str[13:14]+" "+str[14:15]+str[16:17:]+str[18:19:]+" "+str[19:20:]+" "+str[20:21:]+str[22:23:]+" "+str[24::])

WAS I TAC A RO RAC A TI SAW

17. You are required to generate a word similar to ZOO, X and Y that denote the number 
of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
 Input X= 2 Output ZZOOOO 
 Input X= 5 Output ZZZZZOOOOOOOOOO

In [48]:
x=int(input("length of x"))
a=('Z'*x)
#print(a)
y=len(a)
z=2*y
y=('O'*z)
#print(y)
print(a+y)

length of x5
ZZZZZOOOOOOOOOO